$main: 'Playfair Display';
$font: 'Open Sans';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.w-20{
    width: 20%;
    padding: 10px;
}
.w-30{
    width: 30%;
    padding: 10px;
}
.w-33{
    width: 33%;
    padding: 12px;
}
.w-50{
    width: 50%;
    padding: 10px;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.w-25{
    width: 25%;
}
@mixin button{
    width: 180px;
    height: 45px;
    background-color: #f48843;
    font-size: 15px;
    font-family: $font;
    text-align: center;
    padding: 12px;
    color: white;
    border: none;
}
.justify-content-between{
    justify-content: space-between;
} 
.justify-content-center{
    justify-content: center;
} 
.align-items-center{
    align-items: center;
}
header{
    background-color: #16171b;
    height: 80px;
    padding: 20px;
    .menu ul li a{
       color: white;
       font-family: $font;
       font-size: 14px;
       padding: 0 30px;
    }
}
.slider{
    background-image: url('../img/banner-6.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    text-align: center;
    padding: 70px 0 0 0;
    h1{
        color: white;
        font-size: 43px;
        font-family: $font;
    }
    span{
        color: #f48843;
        font-size: 43px;
        font-family: $font;
    }
    p{
        font-size: 17px;
        color: white;
        font-family: $main;
        font-style: italic;
        padding: 30px 0 0 0;
    }
}
.book{
    width: 100%;
    height: 150px;
    background-color: white;
    box-shadow: 1px 2px 40px 1px rgba(0, 0, 0, 0.273);
    margin-top: -70px;
    padding: 45px;
    .list{
        border: 2px solid rgba(0, 0, 0, 0.311);
        width: 100%;
        height: 45px;
        padding: 10px;
        font-size: 15px;
        font-family: $font;
    }
    button{
        @include button;
    } 
}
.sec-title{
    text-align: center;
    padding: 150px 0 0;
    h2{
        color: #222222;
        font-size: 36px;
        font-family: $font;
        margin: 0 0 30px;
    }
    span{
        font-size: 18px;
        font-family: $main;
        color: #555555;
        font-style: italic;
    }
    img{
        margin: 30px 0 0 0;
    }
}
.service{
    text-align: center;
    padding: 50px 0 0;
    .service-box i{
        font-size: 80px;
        color: #f48843;
    }
    h3{
        font-size: 24px;
        font-family: $font;
        color: #222222;
        margin: 40px 0 0;
    }
    p{
        font-size: 15px;
        color: #555555;
        font-family: $font;
        margin: 25px 0 10px;
    }
}
.zone{
    background-color: #5555551a;
    padding: 120px 0;
    h2{
        font-size: 36px;
        color: #222222;
        font-family: $font;
        padding: 0 0 10px 100px;
    }
    span{
        font-size: 18px;
        font-family: $main;
        color: #555555;
        font-style: italic;
        padding: 0 0 10px 100px;
    }
    p{
        font-size: 15px;
        font-family: $font;
        color: #555555; 
        padding: 20px 0 10px 100px;
    }
    button{
        @include button;
        margin: 20px 0 10px 100px;
    }
}
.populer{
    margin: 50px 0 50px 0;
    .populer-service{
        text-align: center;
        padding: 0 0 30px;
        img{
            width: 100%;
        }
        h3{
            font-size: 24px;
            color: #222222;
            font-family: $font;
            padding: 10px 0 0 0;
        }
        .icon img{
            width: 100px;
        }
        span{
            color: #555555;
            font-size: 15px;
            font-family: $font;
        }
    }
}
.famous{
    .famous1 img{
        width: 100%;
        height: 519px;
        padding: 0 10px 0 0; 
    }
    .famous2{
        background-image: url('../img/bg-famous-locations.jpg');
        width: 100%;
        height: 519px;
        background-size: cover;
        padding: 80px 50px;
    }
    h3{
        font-size: 32px;
        font-family: $font;
        color: white;
        padding: 0 0 25px;
    }
    h2{
        font-size: 33px;
        font-family: $main;
        color: white;
        font-style: italic;
        padding: 0 0 20px;
    }
    p{
        font-size: 15px;
        font-family: $font;
        color: white;
        font-style: italic;
        margin: 10px 0;
    }
    button{
        @include button;
        background-color: transparent;
        border: 2px solid #f48843;
        border-radius: 5px;
        margin: 30px 0;
    }
    .read i{
        color: white;
        font-size: 30px;
    }
}
.clients{
    color: #555555;
    font-size: 18px;
    font-family: $font;
    text-align: center;
    margin: 60px 0 0 0;
    p{
        color: #555555;
        font-size: 18px;
        font-family: $font;
        line-height: 5px;
    }
    span{
        font-size: 18px;
        font-family: $main;
        font-style: italic;
        color: #f48843;
        line-height: 60px; 
    }
}
.client-detail{
    .round img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 30px 20px 90px 20px;
    }
}
.beach{
    background-image: url('../img/bg-stuning-beachs.jpg');
    width: 100%;
    height: 450px;
    background-size: cover;
    text-align: center;
    padding: 120px 0;
    h2{
        font-size: 36px;
        color: white;
        font-family: $font;
        margin: 0 0 30px;
    }
    p{
        font-size: 18px;
        font-family: $main;
        font-style: italic;
        color: white;
        margin: 0 0 30px;
    }
    button{
        @include button;
    }
}
.gallery{
    margin: 60px 0 0 0;
    img{
    width: 100%;
    height: 100%;
    background-size: cover;
    }
}
.website{
    margin: 50px 0 100px 0;
    img{
        width: 100%;
    }
}
.subscribe{
    background-color: #f4b843;
    width: 100%;
    height: 286px;
    padding: 80px;
    h2{
        font-size: 36px;
        color: white;
        font-family: $font;
        margin: 0 0 30px;
    }
    span{
        font-size: 18px;
        color: white;
        font-family: $main;
        font-style: italic;
    }
    .subscribe-btn{
        width: 520px;
        height: 60px;
        background-color: white;
        line-height: 60px;
        font-family: $font;
        color: #16171b52;
        padding: 0 0 0 20px;
    }
    i{
        color: #16171b;
        padding: 20px;
    }
}
footer{
    background-image: url('../img/bg-footer.jpg');
    width: 100%;
    height: 450px;
    background-size: cover;
    padding: 100px 0 100px 0;
    p{
        color: #cccccc;
        font-size: 14px;
        font-family: $font;
        margin: 30px 0 20px 0;
        line-height: 30px;
    }
    .icons i{
        color: #999999;
        font-size: 20px;
        padding: 0 20px 0 0;
    }
    h3{
        font-size: 18px;
        color: white;
        font-family: $font;
        margin: 0 0 20px;
    }
    ul li{
        font-size: 14px;
        font-family: $font;
        color: #cccccc;
        padding: 10px 0;
    }
}
.footer{
    background-color: #16171b;
    height: 70px;
    line-height: 70px;
    .text p{
       color: white;
       font-family: $font;
       font-size: 15px;
    }
    .menu ul li{
       color: white;
       font-family: $font;
       font-size: 14px;
       padding: 0 20px;
    }
}